<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{ page.title }}" />
    <meta http-equiv="refresh" content="5;URL=http://{{ page.redirect_url }}">

    <link rel="stylesheet" type="text/css" media="screen" href="/css/stylesheet.css">

    <title>{{ page.title }}</title>
  </head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
	<h1 id="project_title">YasuLab -> YassLab</h1>
	<h2 id="project_tagline">You'll be redirected to <a href="http://yasslab.jp">yasslab.jp</a> in 5 seconds.</h2>
      </header>
    </div>
  </body>

</html>


